.status-img {
    overflow: hidden;
}
.status-flag, .line {
    display: inline-block;
}
.status-flag {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #ddd;
    border-radius: 20px;
    vertical-align: middle;
}
.status-now {
    background-color: #64a131;
}
.line {
    border-top: solid 1px #ddd;
    width: 100px;
}
.status-desc {
    color: #555555;
}
.status-desc-now {
    color: #64a131;
}
.status-desc .line {
    width: 80px;
    border: none;
}