<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>潮流穿搭</title>
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link href="css/product_list.css" rel="stylesheet" type="text/css">
    <link href="css/fashion.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="header-nav">
        <a href = "?c=fashion&m=showFashion"><div class="nav-item selected">流行</div>
        <div class="nav-item">热销</div>
        <div class="nav-item">新品</div>
        <div class="nav-item">价格</div>
    </div>

    <div class="product-list">
        <div class="product-item">
            <a href="detail.html">
                <img src="image/w2.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>

        <div class="product-item">
            <a href="detail.html">
                <img src="image/w3.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>

        <div class="product-item">
            <a href="detail.html">
                <img src="image/w3.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>