<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>优选</title>

    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/youxuan.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="youxuan-head">
            <div class="banner">
                <img src="image/b1.png">
            </div>

            <div class="order">
                <div class="order-item selected">综合</div>
                <div class="order-item">
                    销量
                    <div class="up-down">
                        <div class="up up-selected"></div>
                        <div class="down"></div>
                    </div>
                </div>
                <div class="order-item">
                    价格
                    <div class="up-down">
                        <div class="up"></div>
                        <div class="down"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="youxuan-product">

            <div class="product-row">
                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w2.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>

                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w1.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>
            </div>

            <div class="product-row">
                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w3.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>

                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w4.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>
            </div>

            <div class="product-row">
                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w5.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>

                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w6.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>
            </div>

            <div class="product-row">
                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w5.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>

                <div class="product-item">
                    <a href="http://www.baidu.com/">
                        <img src="image/w6.png">
                        <p>简约新款</p>
                        <div class="price-car">
                            <span class="price">￥ 36.00</span>
                            <img src="image/car1.png" onclick="alert('x');return false">
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</body>
</html>